<?xml version="1.0" encoding="utf-8" ?>
<!--con un archivo de configuración de la aplicación (archivo app.config) a un proyecto de C#, puede personalizar el modo en que Common Language Runtime busca y carga archivos de ensamblado -->
<configuration>
	<connectionStrings>
		<add name="cadena_conexion"
			  connectionString=" Data Source=(local);Initial Catalog=BD_CeliMarket;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>